= form_for(@salesman) do |f|
  - if @salesman.errors.any?
    #error_explanation
      %h2
        = pluralize(@salesman.errors.count, "error", "errores")
        encontrados:
      %ul
        - @salesman.errors.messages.values.each do |message|
          %li= message.first
  .form-group
    = f.label 'Nombres'
    %br/
    = f.text_field :name, {class: "form-control"}
  .field
    = f.label "Apellidos"
    %br/
    = f.text_field :lastname, {class: "form-control"}
  %br/
  .pull-right
    = f.submit @salesman.id.blank? ? "Crear" : "Actualizar", class: "btn btn-primary"
