= form_for(@lot) do |f|
  - if @lot.errors.any?
    #error_explanation
      %h2
        = pluralize(@lot.errors.count, "error")
        prohibited this lot from being saved:
      %ul
        - @lot.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :number
    %br/
    = f.text_field :number
  .field
    = f.label :block
    %br/
    = f.text_field :block
  .field
    = f.label :satage
    %br/
    = f.text_field :satage
  .field
    = f.label :square_meters
    %br/
    = f.text_field :square_meters
  .field
    = f.label :status
    %br/
    = f.text_field :status
  .field
    = f.label :salesman_id
    %br/
    = f.text_field :salesman_id
  .actions
    = f.submit
