%p#notice= notice
%p
  %strong Number:
  = @lot.number
%p
  %strong Block:
  = @lot.block
%p
  %strong Satage:
  = @lot.satage
%p
  %strong Square meters:
  = @lot.square_meters
%p
  %strong Status:
  = @lot.status
%p
  %strong Salesman:
  = @lot.salesman
= link_to 'Edit', edit_lot_path(@lot)
|
= link_to 'Back', lots_path
