<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lot.number %>
</p>

<p>
  <strong>Block:</strong>
  <%= @lot.block %>
</p>

<p>
  <strong>Satage:</strong>
  <%= @lot.satage %>
</p>

<p>
  <strong>Square meters:</strong>
  <%= @lot.square_meters %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lot.status %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @lot.salesman %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
